  <h4>Añadir Personaje</h4>
  <!-- Se realiza el (ngSubmit) para que cuando se le pulse al boton de tipo submit de mas abajo llame al metodo addPersonaje()-->
  <form class="row" (ngSubmit)="addPersonaje()">
    <input type="text"
      [(ngModel)]="personaje.nombre" name="nombre"
      class="form-control mb-2"
      placeholder="Nombre">
    <input type="text"
      [(ngModel)]="personaje.fuerza" name="fuerza"
      class="form-control mb-2"
      placeholder="Fuerza">
    <button type="submit" class="btn btn-primary">Añadir</button>
  </form>
